@import url('./style.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background: linear-gradient(180deg, var(--secondary-color-light) 0%, var(--primary-color) 100%);
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
}

.form-container {
    background: linear-gradient(180deg, var(--secondary-color-light) 0%, var(--primary-color-dark) 100%);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #333;
}

h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
    color: var(--primary-color);
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
    font-style: italic;
}

.input-group {
    margin-bottom: 1rem;
}

input {
    width: 100%;
    padding: .6rem .9rem;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 1rem;
    font-size: .9em;
}

input::placeholder {
    color: #666;
    line-height: 1.2;
}

button {
    width: 100%;
    padding: .5rem .8rem;
    border: none;
    border-radius: 25px;
    background: var(--secondary-color);
    color: var(--primary-color-dark);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
}

button:hover {
    background: var(--secondary-color-dark);
}

.toggle-form {
    text-align: center;
    color: var(--primary-color-dark);
    text-shadow: 1px 1px 5px rgba(44, 202, 175, .4),
                -1px -1px 5px rgba(44, 202, 175, .4);
    cursor: pointer;
    font-size: .9rem;
}

.toggle-form span {
    color: var(--secondary-color);
    text-decoration: underline;
    text-decoration-color: var(--secondary-color-dark);
    text-shadow: none;
}

#registerForm {
    display: none;
}

#registerForm h1 {
    text-align: end;
}