@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #0B4C41;
    --primary-color-dark: #032620;
    --primary-color-light: #258273;
    --secondary-color: #E9D700;
    --secondary-color-dark: #DAB600;
    --secondary-color-light: #F8ED62;
    --complement-color: #2CCAAF;
    --complement-color-light: #8AF1DF;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}